<div class="div-main">

    <mat-form-field>
        <mat-select [value]="1" (selectionChange)="changeCategorySelected($event.value)">
            <mat-option *ngFor="let category of categories$ | async" [value]="category.id">
                {{category.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div>

    </div>

    <mat-list>
        <mat-list-item *ngFor="let product of products$ | async">
            {{product.name}}
        </mat-list-item>
    </mat-list>
</div>